@using Demo.Models
@using Demo.Models.ViewModel
@model PageInformation<CourseViewModel>

@{
	var title = "Course Statistics";
	ViewData["Title"] = title;
}

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-8">
				<h2>@title</h2>
			</div>
			<div class="col-4 text-end">
				<div class="form-floating mb-2">
					<select id="DeptId" class="form-control" asp-items="ViewBag.Departments" onchange="ReloadByDepartment()">
						<option>--Select Department--</option>
					</select>
					<label for="DeptId" class="control-label"></label>
					
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-striped table-bordered">
			<thead class="text-center">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Credit</th>										
				</tr>
			</thead>
			<tbody class="text-center">
				@foreach (var item in Model.Items)
				{
					<tr>
						<td>@item.Code</td>
						<td>@item.Name</td>
						<td>@item.Credit</td>						
					</tr>
				}
			</tbody>
		</table>
		@{
			var prevDisable = !Model.HasPreviousPage ? "disabled" : "";
			var nextDisable = !Model.NextPreviousPage ? "disabled" : "";
		}	

		<nav>
			<ul class="pagination justify-content-start">
				<li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
					<a class="page-link text-black" asp-route-pageNumber="1">
						<span> << </span>
					</a>
				</li>

				<li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
					<a class="page-link text-black" asp-route-pageNumber="@(Model.PageNumber - 1)">
						<span> < </span>
					</a>
				</li>

				@for (int i = 1; i <= Model.TotalPage; i++)
				{
					<li class="page-item">
						<a class="page-link" asp-action="GetCoursesByDepartment"
						   asp-route-pagenumber="@i" asp-route-departmentId=@ViewBag.departmentId>@i</a>
					</li>
				}

				<li class="page-item @(Model.NextPreviousPage ? "" : "disabled")">
					<a class="page-link text-black" asp-route-pageNumber="@(Model.PageNumber + 1)">
						<span> > </span>
					</a>
				</li>
				<li class="page-item @(Model.PageNumber == Model.TotalPage ? "disabled" : "")">
					<a class="page-link text-black" asp-route-pageNumber="@Model.PageNumber">
						<span> >> </span>
					</a>
				</li>


			</ul>
		</nav>
	</div>
</div>

@section Scripts{
	<script>
		function ReloadByDepartment() {
			var deptid=$('#DeptId').val();
			window.location.href = `/Course/GetCoursesByDepartment?departmentId=${deptid}`;
		}
	</script>
}